@import url(../../assets/css/page.css);
.settings-wrapper{
    border: 0.5px solid gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 4rem;
    justify-items: center;
    
}
.settings-wrapper div[class^="settings-col"] {
display: grid;
place-items: center;
padding: 2rem;
box-shadow: 0 0 8px lightgray;

}
div[class^='settings-col'] > div:nth-child(1){
font-size: 35px;
}
.settings-wrapper div[class$='row-2']{
    
}
.settings-wrapper div[class$='row-2'] a{

}
.settings-wrapper div[class$='row-2'] a .settings-icon-grp{
font-size: 10rem;
color: rgb(60, 60, 139);
}
.settings-wrapper div[class$='row-3'] a{
color: black;
}
.settings-wrapper div[class$='row-3'] a:hover{
    text-decoration: underline;
}